<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/about.css">

    <title>About Aliya Foundation</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="wrap-mission" >
            <div class="text">
                <h2>The Aim</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis molestias deserunt repellendus magnam fugit voluptatibus dignissimos quam animi? Quaerat dolorum laboriosam porro debitis eligendi. Distinctio, repellat? Velit magni dicta impedit?
                
               
                </p>
            </div>
            <div class="image">
                <img src="./imgs/slider3.jpeg" alt="The Mission Image">
            </div>
        </div>
        <section id="community">
            <div class="community">
            <div class="heading">
                <h2>Our Community</h2>
            </div>
            <div class="community-image">
                <img src="./imgs/Our Community.jpg" alt="Our Community">
            </div>
            <div class="instafeed">
                <!-- Insta Feed Display -->
            </div>
            <div class="community-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id dicta quo explicabo, doloribus corporis veniam voluptatum natus animi laudantium non excepturi minima porro dolores quia aut sint sequi praesentium!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione odio voluptate iure, consectetur deserunt vero quidem sit ea labore placeat voluptatem inventore, magni minima! Sed, ducimus sunt. Perferendis, sequi alias!
                </p>
            </div>
        </div>
        </section>
 
        <section id="alerts">
            <h2>Recieve Alerts</h2>
            <form action="">

                <div class="inp-form">
                <input type="number" name="" placeholder="Mobile Number" id="" class="num">
                <input type="email" name="" id="" placeholder="Email Adress" class="email-id">
                <button class="submitBtn">Subscribe to Updates</button>
                </div>
            </form>
        </section>

        <section id="footer">
            <div class="footer-navbar">
                <div class="our-initiatives">
                    <h4><a href="#">Our Initiatives</a></h4>
                    
                    <ul>
                        <li><a href="#">One Glass of Gratitude</a></li>
                        <li><a href="#">Skill Development Center</a></li>
                        <li><a href="#">Food Distribution Programs</a></li>
                        <li><a href="#">Women Empowerment</a></li>
                    </ul>
                </div>
                <div class="contact-us">
                    <h4><a href="./contact.html">Contact Us</a></h4>
                    
                    <div class="contact-us-flex">
                        <ul>
                            <li><a href="#">Donate & Drop Centers</a></li>
                            <li><a href="./about.html">Our Offices</a></li>
                            <li><a href="#">Volunteer</a></li>
                            <li><a href="#">Partner with Us</a></li>
                        </ul>
                        
                    </div>
                </div>

                <div class="social-icons">
                    <a href="#"><span class="social-icons-size"><i class="fab fa-facebook"></i></span></a>
                    <a href="#"><span class="social-icons-size"><i class="fab fa-instagram"></i></span></a>
                    <a href="#"><span class="social-icons-size"><i class="fab fa-youtube"></i></span></a>
                </div>
            </div>
            <div class="copyright-text">
                <p>Copyright <i class="far fa-copyright"></i> 2020 <a href="#">Aliya Foundation</a> | Designed by <a href="#">Azhar & Ayan</a></p>
            </div>
                 
        </section>

        <script src="https://kit.fontawesome.com/28dd702457.js" crossorigin="anonymous"></script>
    </div>
</body>
</html>