<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHF Admin</title>
</head>
<body>
    <h1>File Upload</h1>

    <h1>For changing home page slider images</h1>

    <p>Upload a image file with renaming it with slider1/2/3.jpeg</p>
    <p>For eg : IFf you wanna change first slider image upload a image having name "slider1.jpeg" </p>
    
    <h1>For changing Our initiatives images</h1>

    <p>For one glass of gratitude section : upload an image having name "oi-glass.jpeg" .</p>

    <p>For women empowerment section : upload an image having name "oi-women.jpeg" .</p>

    <p>For Food distribution section : upload an image having name "oi-food.jpeg" .</p>

    <p>For Skill Development section : upload an image having name "oi-skill.jpeg" .</p>


    <h1>For changing any images in women empowerment section</h1>

    <p>IF you wanna change the very first photo upload a file with name "women.jpg:</p>
    <p>IF you wanna change the second photo upload a file with name "women1.jpg:</p>
    <p>IF you wanna change the third photo upload a file with name "women2.jpg:</p>


    <h1>For changing any images in Food distribution section</h1>

    <p>IF you wanna change the very first photo upload a file with name "food.jpg:</p>
    <p>IF you wanna change the second photo upload a file with name "food1.jpg:</p>
    <p>IF you wanna change the third photo upload a file with name "food2.jpg:</p>

    <h1>For changing any images in Skill Development Center section</h1>

    <p>IF you wanna change the very first photo upload a file with name "skill.jpg:</p>
    <p>IF you wanna change the second photo upload a file with name "skill1.jpg:</p>
    <p>IF you wanna change the third photo upload a file with name "skill2.jpg:</p>

    <h1>For changing any images in One glass Gratitude section</h1>

    <p>IF you wanna change the very first photo upload a file with name "glass.jpg:</p>
    <p>IF you wanna change the second photo upload a file with name "glass1.jpg:</p>
    <p>IF you wanna change the third photo upload a file with name "glass2.jpg:</p>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file" class="file">

        <label for="file" >Choose File</label>
        
        <input type="submit" value="submit" >
    </form>
</body>
</html>
