<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Aliya Foundation</title>
    <!-- Font Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Link to main Stylesheet -->
    <link rel="stylesheet" href="./CSS/contact.css">

    <!-- Script for Map -->
    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByiNtI_2CpyPmuLICFT_SCgpmaMmFOa5I&callback=initMap&libraries=&v=weekly"
      defer
    ></script> -->
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Contact Us</h1>
        </div>
        <div class="content">
            <div class="contact-section">
                
                <div class="contact-element">
                    <span class="contact-icons">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <h3><a href="tel:123-456-7890">+91 0123456789</a></h3>
                </div>
                <div class="contact-element">
                    <span class="contact-icons">
                        <i class="fas fa-at"></i>
                    </span>
                    <h3><a href="mailto:contact@aliyafoundation.com">contact@aliyafoundation.com</a></h3>
                </div>
                
                <div class="contact-element">
                    <span class="contact-icons">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <h3><a href="https://goo.gl/maps/HfPsCAPGtpumCKG28">Hyderabad shaher me</a></h3>
                </div>
                <div id="map">
                    <!-- Google Maps -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14236.199732785435!2d80.9318324!3d26.8701546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd8c5232c4ed%3A0x47a909c2befa1dda!2sMumtaz%20PG%20College!5e0!3m2!1sen!2sin!4v1604166638711!5m2!1sen!2sin" width="450" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>     
            </div>
            <div class="volunteer-section" id="Volunteer">
                <h2>Volunteer</h2>
                <form action="" >

                <div class="inp-form">
                        <div class="name inp-form">
                            <input type="text" placeholder="First Name*" class="text">
                            <input type="text" placeholder="Last Name" class="text">
                        </div>
                    <input type="number" name="" placeholder="Mobile Number" id="" class="num">
                    <input type="email" name="" id="" placeholder="Email Adress" class="email-id">
                        <div class="gender-age">
                            
                        <div>
                            Age: <br>
                                <input type="date" name="Date Of Birth" id="" placeholder="Age">
                        </div>
                        <div>
                                Gender:
                            <input type="radio" name="gender" id="" value="Female">Female
                            <input type="radio" name="gender" id="" value="Male">Male
                            <input type="radio" name="gender" id="" value="Other">Other
                           
                        </div>
                            
                        </div>
                        <div class="text inp-form">
                            <textarea name="" id="" cols="50" rows="10" placeholder=" What drives you to work for the Society?*" class="txtarea"></textarea>
                        </div>
            
                    <button class="submitBtn">Submit Details</button>
                </div>
                </form>
            </div>
        </div>
        <div class="partner-with-us" id="partner-with-us">
            <h2>Partner With Us</h2>
            <img src="./imgs/Handshake.jpg" alt="Handshake">
            <p>
                <h4>Heading 1</h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus quas hic iusto nihil, sequi numquam commodi veritatis amet minus. Iste esse voluptates adipisci dolor, mollitia quo distinctio magnam repudiandae ducimus.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptates minima aut ratione illum delectus sapiente magnam accusantium at nisi. Quis consectetur, non autem cumque alias dolorem commodi maxime consequuntur?
            </p>
            <p>
                <h4>Heading 2</h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo debitis commodi tempora nisi tenetur culpa in hic ipsam soluta harum, explicabo consequatur laudantium omnis. Ullam perspiciatis ipsa nulla soluta amet.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptates minima aut ratione illum delectus sapiente magnam accusantium at nisi. Quis consectetur, non autem cumque alias dolorem commodi maxime consequuntur?
            </p>
            <p>
                <h4>Heading 3</h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo sint recusandae laborum quam quisquam. Vero sapiente odit veritatis ab libero. Ea quia dignissimos ipsa maiores excepturi et delectus rem facere.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptates minima aut ratione illum delectus sapiente magnam accusantium at nisi. Quis consectetur, non autem cumque alias dolorem commodi maxime consequuntur?</p>
        </div>
        
        <!-- Footer Section -->
        <section id="footer">
            <div class="footer-navbar">
                <div class="our-initiatives">
                    <h4><a href="#">Our Initiatives</a></h4>
                    
                    <ul>
                        <li><a href="#">One Glass of Gratitude</a></li>
                        <li><a href="#">Skill Development Center</a></li>
                        <li><a href="#">Food Distribution Programs</a></li>
                        <li><a href="#">Women Empowerment</a></li>
                    </ul>
                </div>
                <div class="contact-us">
                    <h4><a href="./contact.html">Contact Us</a></h4>
                    
                    <div class="contact-us-flex">
                        <ul>
                            <li><a href="./index.html">Donate & Drop Centers</a></li>
                            <li><a href="./about.html">Our Offices</a></li>
                            <li><a href="#Volunteer">Volunteer</a></li>
                            <li><a href="#partner-with-us">Partner with Us</a></li>
                        </ul>
                        
                    </div>
                </div>

                <div class="social-icons">
                    <a href="#"><span class="social-icons-size"><i class="fab fa-facebook"></i></span></a>
                    <a href="#"><span class="social-icons-size"><i class="fab fa-instagram"></i></span></a>
                    <a href="#"><span class="social-icons-size"><i class="fab fa-youtube"></i></span></a>
                </div>
            </div>
            <div class="copyright-text">
                <p>Copyright <i class="far fa-copyright"></i> 2020 <a href="#">Aliya Foundation</a> | Designed by <a href="#">Azhar & Ayan</a></p>
            </div>
        </section> 
    </div>
    <!-- Font Awesome Icons -->
    <script src="./contact.js"></script>
    <script src="https://kit.fontawesome.com/28dd702457.js" crossorigin="anonymous"></script>
</body>
</html>